body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #100e0e;
  color: #333;
}

.navbar {
  background-color: #343a40;
  color: rgb(34, 7, 239);
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar a {
  color: #ffc107;
  text-decoration: none;
  font-weight: bold;
}

.container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 20px;
}

.product-card {
  background: rgb(6, 239, 10);
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  text-align: center;
  max-width: 250px;
}

.product-card img {
  width: 100%;
  border-radius: 5px;
}

button {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background-color: #218838;
}

.total {
  text-align: center;
  font-size: 1.5rem;
  margin: 20px;
}

footer {
  text-align: center;
  background: #343a40;
  color: white;
  padding: 10px;
  margin-top: 30px;
}
a.whatsapp {
  display: inline-block;
  margin-top: 10px;
  background-color: #25D366;
  color: white;
  padding: 8px 12px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
}

a.whatsapp:hover {
  background-color: #1ebe5d;
}



.top-bar {
  background: #e5dede;
  padding: 10px 20px;
  text-align: center;
  border-bottom: 1px solid #ece5e5;
}

.top-bar span {
  margin-left: 10px;
  font-weight: bold;
  color: #333;
}

.top-bar .icon {
  display: inline-block;
  margin: 0 10px;
  width: 24px;
  height: 24px;
  vertical-align: middle;
  color: #555;
  transition: transform 0.2s, color 0.2s;
}

.top-bar .icon:hover {
  transform: scale(1.2);
}

.top-bar .instagram:hover { color: #E1306C; }
.top-bar .facebook:hover { color: #1877F2; }
.top-bar .tiktok:hover { color: #000000; }

.price {
  background-color: red;
  color: white;
  padding: 4px 8px;
  border-radius: 5px;
  display: inline-block;
  font-weight: bold;
}


.top-prayer {
  background-color: #fff8e1;
  color: #d35400;
  text-align: center;
  padding: 10px;
  font-size: 18px;
  font-weight: bold;
  border-bottom: 1px solid #f0c36d;
  font-family: 'Tahoma', sans-serif;
}




